* {
    color: white;
    background-color: #000;
    font-family: 'Palanquin Dark', 'Darker Grotesque', sans-serif;
    text-align: justify;
    font-weight: bolder;
}
html {
    scroll-behavior: smooth;
}
img {
    width: 100%;
    height: 600px;
} 
header {
    color: blue;
}
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    list-style: none;
    margin-left: 20px;
}
header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 20px;
}
header ul li a:hover {
    background: #585858; 
    color: red;
}
body > header > ul > h1 > a {
    text-decoration: none;
    color: blue;
}
.copyright {
    text-decoration: none;
    color: yellow;
    background-color: #999999;
    animation-name: colorChange;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}
.copyright:active {
    color: blue;
}
.copyright:hover {
    color: red;
}
.footer {
    text-align: center;
    margin: 20px;
    padding: 10px;
    background-color: #999999;
    color: #fff;
    text-align: center;
    border-radius: 20px;
}
body > header > ul > h1 > a:hover {
    color: red;
} 
body > header > ul > li:hover {
    color: red;
}
.ul {
    text-transform: uppercase;
    color: gold;
    text-align: center;
}
.member {
    text-align: center;
    color: deeppink;
}
.a {
    padding-right: 440px;
}
.blog {
    padding-right: 10px;
}
.float {
    float: left;
    width: 50%;
    height: 20%;
    padding-right: 20px;
    padding-bottom: 20px;
}
.story {
    padding-bottom: 21px;
}
body > header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}